.video-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 10px 10px 0px #000; /* Sombra en punta */
    margin: 2rem auto;
    border-radius: 0; /* Esquinas en punta */
    max-width: 800px;
    width: 100%;
    position: relative;
}

.video-element {
    width: 100%;
    height: auto;
    border: 3px solid var(--razzmatazz); /* Borde del reproductor */
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.7); /* Sombra del video */
    border-radius: 0; /* Esquinas en punta */
    margin-bottom: 1.5rem;
}

.video-info {
    text-align: left;
    width: 100%;
    color: #333;
}

.video-title {
    font-family: 'Arial Black', sans-serif;
    color: var(--razzmatazz);
    font-size: 1.8rem;
    margin: 0 0 1rem;
}

.video-channel {
    font-size: 1rem;
    font-weight: bold;
    color: var(--green-malachite);
    margin: 0 0 0.5rem;
}

.video-description {
    font-size: 1rem;
    color: #555;
    margin: 0;
}

.back-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--green-malachite);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.back-button:hover {
    background-color: var(--razzmatazz); /* Cambiar el color al pasar el cursor */
}
